*{
    margin: 0;
    padding: 0;
}
.box{
    height: 20vmin;
    width: 20vmin;
    margin: 1vmin;
    border: none;
    background-color: blanchedalmond;
    font-size: 20vmin;
    text-align: center;
    border-radius: 2vmin;

}
.box:hover{
    cursor: pointer;
    background-color: #fff;
}
.game{
    height: 75vmin;
    width: 67vmin;
    background-color: rgb(24, 168, 207);
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    border-radius: 2vmin;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.reset-button{
    padding: 1.5vmin;
    border: none;
    border-radius: 1.5vmin;
    color: white;
    background-color: black;
    margin: 2vmin;
}
.reset-button:hover{
    cursor: pointer;
}
.hidden{
    visibility: hidden;
}

#msg{

    background-color: #8effea;
    font-size: 3vmin;
    color: rgb(255, 0, 0);
    border: 1px solid black;
    text-shadow: 1px 1px 2px rgb(255, 16, 227);
}
.Ored{
    color: red;
}
.Xblue{
    color: blue;
}